@import url("https://fonts.googleapis.com/css2?family=Poppins&family=Shrikhand&display=swap");

.sort-section {
    display: flex;
    justify-content: space-between;
}

.inputs {
    position: relative;
    display: flex;
    justify-content: space-between;
    width: calc(100% - 200px);
    max-width: 70rem;
}

.select-btn {
    height: 40px;
    width: 100%;
    background-color: #fff;
    font-size: clamp(1.2rem, 2vw, 1.6rem);
    border-radius: 7px;
    justify-content: space-between;
    padding: 0 20px;
    box-sizing: border-box;

    & i {
        font-size: clamp(1.2rem, 2vw, 1.6rem);
        transition: transform 0.3s linear;
    }

    &.active {
        border-radius: 7px 7px 0 0;

        & i {
            transform: rotate(-180deg);
        }

        & + .content {
            display: block;
        }
    }
}

.content {
    display: none;
    position: absolute;
    z-index: 1;
    width: calc(100% / 3 - 10px);
    background-color: #fff;
    border-radius: 0 0 7px 7px;
    box-sizing: border-box;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.wrapper {
    width: calc(100% / 3 - 10px);



}

.select-btn,
.options li {
    display: flex;
    align-items: center;
    width: 100%;
    cursor: pointer;
}

.search {
    position: relative;
    margin: 0 1rem;

    & input {
        width: 100%;
        height: 40px;
        border-radius: 5px;
        outline: none;
        border: 1px solid #b3b3b3;
        font-size: 17px;
        padding: 0 43px 0 15px;
    }

    & i {
        position: absolute;
        color: #999;
        line-height: 40px;
        font-size: 20px;
        right: 15px;
    }
}

ul {
    margin-top: 10px;
    max-height: 200px;
    overflow-y: auto;
    padding: 0;
    box-sizing: content-box;
    width: 100%;
}

li {
    width: 100%;
    height: 40px;
    max-width: 100%;
    padding: 0 0 0 2rem;
    font-size: 1.8rem;
    margin-bottom: 0.2rem;
    box-sizing: border-box;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    &.tag-list:hover, &.tag-list:focus {
        background-color: #ffd15b;
        white-space: initial;
        outline: none;
    }

    &.tag-element {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        max-width: 100%;
        padding-right: 2rem;
        background-color: #ffd15b;
        border-radius: 7px;

        & span {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            cursor: default;
            &:hover {
                font-weight: 700;
            }
        }

        & .close-tag {
            display: flex;
            align-items: center;
            margin-left: 0.3rem;
            cursor: pointer;
        }

        &:focus {
            border: 3px solid lightblue;
        }
    }

}


span.count {
    line-height: 40px;
    font-family: "Anton";
    font-size: 1.8rem;
}