.performance {
    position: absolute;
    top: clamp(30px, 5vw, 50px);
    right: clamp(20px, 5vw, 50px);
    width: 45px;
    height: 25px;

    &__slider {
        position: absolute;
        inset: 0;
        border-radius: 50px;
        background-color: lightgrey;
        outline: 2px solid white;
        cursor: pointer;
        
        &::before {
            position: absolute;
            content: "";
            width: 20px;
            height: 20px;
            left: 2.5px;
            bottom: 2.5px;
            background-color: #1b1b1b;
            border-radius: 50px;
            transition: .4s;
        }
    }

    & input {
        display: none;
        &:checked + .performance__slider {
            background-color: #FFD15B;

            &::before {
                transform: translateX(20px);
            }
        }
    }
}