* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-family: 'Manrope';
    background-color: lightgray;
    margin-bottom: 3rem;
}

section {
    max-width: 1440px;
    margin: auto;
    padding: 3rem;

}


